<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bank.mapper.BankFundLogMapper" >
  <resultMap id="BaseResultMap" type="com.bank.pojo.BankFundLog" >
    <id column="fund_tx_id" property="fundTxId" jdbcType="VARCHAR" />
    <result column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="fund_id" property="fundId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="share" property="share" jdbcType="DOUBLE" />
    <result column="tx_date" property="txDate" jdbcType="VARCHAR" />
    <result column="review_id" property="reviewId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fund_tx_id, cust_id, account, fund_id, type, amount, share, tx_date, review_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bank.pojo.BankFundLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bank_fund_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bank_fund_log
    where fund_tx_id = #{fundTxId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bank_fund_log
    where fund_tx_id = #{fundTxId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bank.pojo.BankFundLogExample" >
    delete from bank_fund_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bank.pojo.BankFundLog" >
    insert into bank_fund_log (fund_tx_id, cust_id, account, 
      fund_id, type, amount, 
      share, tx_date, review_id
      )
    values (#{fundTxId,jdbcType=VARCHAR}, #{custId,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{fundId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{amount,jdbcType=DOUBLE}, 
      #{share,jdbcType=DOUBLE}, #{txDate,jdbcType=VARCHAR}, #{reviewId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bank.pojo.BankFundLog" >
    insert into bank_fund_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fundTxId != null" >
        fund_tx_id,
      </if>
      <if test="custId != null" >
        cust_id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="fundId != null" >
        fund_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="share != null" >
        share,
      </if>
      <if test="txDate != null" >
        tx_date,
      </if>
      <if test="reviewId != null" >
        review_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fundTxId != null" >
        #{fundTxId,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="fundId != null" >
        #{fundId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="share != null" >
        #{share,jdbcType=DOUBLE},
      </if>
      <if test="txDate != null" >
        #{txDate,jdbcType=VARCHAR},
      </if>
      <if test="reviewId != null" >
        #{reviewId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bank.pojo.BankFundLogExample" resultType="java.lang.Integer" >
    select count(*) from bank_fund_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bank_fund_log
    <set >
      <if test="record.fundTxId != null" >
        fund_tx_id = #{record.fundTxId,jdbcType=VARCHAR},
      </if>
      <if test="record.custId != null" >
        cust_id = #{record.custId,jdbcType=VARCHAR},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.fundId != null" >
        fund_id = #{record.fundId,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DOUBLE},
      </if>
      <if test="record.share != null" >
        share = #{record.share,jdbcType=DOUBLE},
      </if>
      <if test="record.txDate != null" >
        tx_date = #{record.txDate,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewId != null" >
        review_id = #{record.reviewId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bank_fund_log
    set fund_tx_id = #{record.fundTxId,jdbcType=VARCHAR},
      cust_id = #{record.custId,jdbcType=VARCHAR},
      account = #{record.account,jdbcType=VARCHAR},
      fund_id = #{record.fundId,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=DOUBLE},
      share = #{record.share,jdbcType=DOUBLE},
      tx_date = #{record.txDate,jdbcType=VARCHAR},
      review_id = #{record.reviewId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bank.pojo.BankFundLog" >
    update bank_fund_log
    <set >
      <if test="custId != null" >
        cust_id = #{custId,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="fundId != null" >
        fund_id = #{fundId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="share != null" >
        share = #{share,jdbcType=DOUBLE},
      </if>
      <if test="txDate != null" >
        tx_date = #{txDate,jdbcType=VARCHAR},
      </if>
      <if test="reviewId != null" >
        review_id = #{reviewId,jdbcType=VARCHAR},
      </if>
    </set>
    where fund_tx_id = #{fundTxId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bank.pojo.BankFundLog" >
    update bank_fund_log
    set cust_id = #{custId,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      fund_id = #{fundId,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DOUBLE},
      share = #{share,jdbcType=DOUBLE},
      tx_date = #{txDate,jdbcType=VARCHAR},
      review_id = #{reviewId,jdbcType=VARCHAR}
    where fund_tx_id = #{fundTxId,jdbcType=VARCHAR}
  </update>
</mapper>