<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bank.mapper.BankFundHoldMapper" >
  <resultMap id="BaseResultMap" type="com.bank.pojo.BankFundHold" >
    <id column="account" property="account" jdbcType="VARCHAR" />
    <id column="fund_id" property="fundId" jdbcType="VARCHAR" />
    <result column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="share" property="share" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    account, fund_id, cust_id, share
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bank.pojo.BankFundHoldExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bank_fund_hold
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.bank.pojo.BankFundHoldKey" >
    select 
    <include refid="Base_Column_List" />
    from bank_fund_hold
    where account = #{account,jdbcType=VARCHAR}
      and fund_id = #{fundId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.bank.pojo.BankFundHoldKey" >
    delete from bank_fund_hold
    where account = #{account,jdbcType=VARCHAR}
      and fund_id = #{fundId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bank.pojo.BankFundHoldExample" >
    delete from bank_fund_hold
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bank.pojo.BankFundHold" >
    insert into bank_fund_hold (account, fund_id, cust_id, 
      share)
    values (#{account,jdbcType=VARCHAR}, #{fundId,jdbcType=VARCHAR}, #{custId,jdbcType=VARCHAR}, 
      #{share,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.bank.pojo.BankFundHold" >
    insert into bank_fund_hold
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="account != null" >
        account,
      </if>
      <if test="fundId != null" >
        fund_id,
      </if>
      <if test="custId != null" >
        cust_id,
      </if>
      <if test="share != null" >
        share,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="fundId != null" >
        #{fundId,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="share != null" >
        #{share,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bank.pojo.BankFundHoldExample" resultType="java.lang.Integer" >
    select count(*) from bank_fund_hold
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bank_fund_hold
    <set >
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.fundId != null" >
        fund_id = #{record.fundId,jdbcType=VARCHAR},
      </if>
      <if test="record.custId != null" >
        cust_id = #{record.custId,jdbcType=VARCHAR},
      </if>
      <if test="record.share != null" >
        share = #{record.share,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bank_fund_hold
    set account = #{record.account,jdbcType=VARCHAR},
      fund_id = #{record.fundId,jdbcType=VARCHAR},
      cust_id = #{record.custId,jdbcType=VARCHAR},
      share = #{record.share,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bank.pojo.BankFundHold" >
    update bank_fund_hold
    <set >
      <if test="custId != null" >
        cust_id = #{custId,jdbcType=VARCHAR},
      </if>
      <if test="share != null" >
        share = #{share,jdbcType=DOUBLE},
      </if>
    </set>
    where account = #{account,jdbcType=VARCHAR}
      and fund_id = #{fundId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bank.pojo.BankFundHold" >
    update bank_fund_hold
    set cust_id = #{custId,jdbcType=VARCHAR},
      share = #{share,jdbcType=DOUBLE}
    where account = #{account,jdbcType=VARCHAR}
      and fund_id = #{fundId,jdbcType=VARCHAR}
  </update>
</mapper>