<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bank.mapper.BankDepositeMapper" >
  <resultMap id="BaseResultMap" type="com.bank.pojo.BankDeposite" >
    <id column="deposite_id" property="depositeId" jdbcType="BIGINT" />
    <result column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="deposite_type" property="depositeType" jdbcType="VARCHAR" />
    <result column="deposite_money" property="depositeMoney" jdbcType="DOUBLE" />
    <result column="deposite_rate" property="depositeRate" jdbcType="DOUBLE" />
    <result column="deposite_date" property="depositeDate" jdbcType="VARCHAR" />
    <result column="deposite_duration" property="depositeDuration" jdbcType="VARCHAR" />
    <result column="transfer_way" property="transferWay" jdbcType="VARCHAR" />
    <result column="reviewer_id" property="reviewerId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    deposite_id, cust_id, account, deposite_type, deposite_money, deposite_rate, deposite_date, 
    deposite_duration, transfer_way, reviewer_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bank.pojo.BankDepositeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bank_deposite
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bank_deposite
    where deposite_id = #{depositeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bank_deposite
    where deposite_id = #{depositeId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bank.pojo.BankDepositeExample" >
    delete from bank_deposite
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bank.pojo.BankDeposite" >
    insert into bank_deposite (deposite_id, cust_id, account, 
      deposite_type, deposite_money, deposite_rate, 
      deposite_date, deposite_duration, transfer_way, 
      reviewer_id)
    values (#{depositeId,jdbcType=BIGINT}, #{custId,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{depositeType,jdbcType=VARCHAR}, #{depositeMoney,jdbcType=DOUBLE}, #{depositeRate,jdbcType=DOUBLE}, 
      #{depositeDate,jdbcType=VARCHAR}, #{depositeDuration,jdbcType=VARCHAR}, #{transferWay,jdbcType=VARCHAR}, 
      #{reviewerId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bank.pojo.BankDeposite" >
    insert into bank_deposite
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="depositeId != null" >
        deposite_id,
      </if>
      <if test="custId != null" >
        cust_id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="depositeType != null" >
        deposite_type,
      </if>
      <if test="depositeMoney != null" >
        deposite_money,
      </if>
      <if test="depositeRate != null" >
        deposite_rate,
      </if>
      <if test="depositeDate != null" >
        deposite_date,
      </if>
      <if test="depositeDuration != null" >
        deposite_duration,
      </if>
      <if test="transferWay != null" >
        transfer_way,
      </if>
      <if test="reviewerId != null" >
        reviewer_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="depositeId != null" >
        #{depositeId,jdbcType=BIGINT},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="depositeType != null" >
        #{depositeType,jdbcType=VARCHAR},
      </if>
      <if test="depositeMoney != null" >
        #{depositeMoney,jdbcType=DOUBLE},
      </if>
      <if test="depositeRate != null" >
        #{depositeRate,jdbcType=DOUBLE},
      </if>
      <if test="depositeDate != null" >
        #{depositeDate,jdbcType=VARCHAR},
      </if>
      <if test="depositeDuration != null" >
        #{depositeDuration,jdbcType=VARCHAR},
      </if>
      <if test="transferWay != null" >
        #{transferWay,jdbcType=VARCHAR},
      </if>
      <if test="reviewerId != null" >
        #{reviewerId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bank.pojo.BankDepositeExample" resultType="java.lang.Integer" >
    select count(*) from bank_deposite
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bank_deposite
    <set >
      <if test="record.depositeId != null" >
        deposite_id = #{record.depositeId,jdbcType=BIGINT},
      </if>
      <if test="record.custId != null" >
        cust_id = #{record.custId,jdbcType=VARCHAR},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.depositeType != null" >
        deposite_type = #{record.depositeType,jdbcType=VARCHAR},
      </if>
      <if test="record.depositeMoney != null" >
        deposite_money = #{record.depositeMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.depositeRate != null" >
        deposite_rate = #{record.depositeRate,jdbcType=DOUBLE},
      </if>
      <if test="record.depositeDate != null" >
        deposite_date = #{record.depositeDate,jdbcType=VARCHAR},
      </if>
      <if test="record.depositeDuration != null" >
        deposite_duration = #{record.depositeDuration,jdbcType=VARCHAR},
      </if>
      <if test="record.transferWay != null" >
        transfer_way = #{record.transferWay,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewerId != null" >
        reviewer_id = #{record.reviewerId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bank_deposite
    set deposite_id = #{record.depositeId,jdbcType=BIGINT},
      cust_id = #{record.custId,jdbcType=VARCHAR},
      account = #{record.account,jdbcType=VARCHAR},
      deposite_type = #{record.depositeType,jdbcType=VARCHAR},
      deposite_money = #{record.depositeMoney,jdbcType=DOUBLE},
      deposite_rate = #{record.depositeRate,jdbcType=DOUBLE},
      deposite_date = #{record.depositeDate,jdbcType=VARCHAR},
      deposite_duration = #{record.depositeDuration,jdbcType=VARCHAR},
      transfer_way = #{record.transferWay,jdbcType=VARCHAR},
      reviewer_id = #{record.reviewerId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bank.pojo.BankDeposite" >
    update bank_deposite
    <set >
      <if test="custId != null" >
        cust_id = #{custId,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="depositeType != null" >
        deposite_type = #{depositeType,jdbcType=VARCHAR},
      </if>
      <if test="depositeMoney != null" >
        deposite_money = #{depositeMoney,jdbcType=DOUBLE},
      </if>
      <if test="depositeRate != null" >
        deposite_rate = #{depositeRate,jdbcType=DOUBLE},
      </if>
      <if test="depositeDate != null" >
        deposite_date = #{depositeDate,jdbcType=VARCHAR},
      </if>
      <if test="depositeDuration != null" >
        deposite_duration = #{depositeDuration,jdbcType=VARCHAR},
      </if>
      <if test="transferWay != null" >
        transfer_way = #{transferWay,jdbcType=VARCHAR},
      </if>
      <if test="reviewerId != null" >
        reviewer_id = #{reviewerId,jdbcType=VARCHAR},
      </if>
    </set>
    where deposite_id = #{depositeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bank.pojo.BankDeposite" >
    update bank_deposite
    set cust_id = #{custId,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      deposite_type = #{depositeType,jdbcType=VARCHAR},
      deposite_money = #{depositeMoney,jdbcType=DOUBLE},
      deposite_rate = #{depositeRate,jdbcType=DOUBLE},
      deposite_date = #{depositeDate,jdbcType=VARCHAR},
      deposite_duration = #{depositeDuration,jdbcType=VARCHAR},
      transfer_way = #{transferWay,jdbcType=VARCHAR},
      reviewer_id = #{reviewerId,jdbcType=VARCHAR}
    where deposite_id = #{depositeId,jdbcType=BIGINT}
  </update>
</mapper>