<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bank.mapper.BankLoanMapper" >
  <resultMap id="BaseResultMap" type="com.bank.pojo.BankLoan" >
    <id column="trans_id" property="transId" jdbcType="VARCHAR" />
    <result column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="trans_date" property="transDate" jdbcType="VARCHAR" />
    <result column="loan_amount" property="loanAmount" jdbcType="DOUBLE" />
    <result column="ins_count" property="insCount" jdbcType="SMALLINT" />
    <result column="loan_interest" property="loanInterest" jdbcType="DOUBLE" />
    <result column="loan_amount_sum" property="loanAmountSum" jdbcType="DOUBLE" />
    <result column="expiration_date" property="expirationDate" jdbcType="VARCHAR" />
    <result column="recovered_amount" property="recoveredAmount" jdbcType="DOUBLE" />
    <result column="loan_status" property="loanStatus" jdbcType="VARCHAR" />
    <result column="reviewer_id" property="reviewerId" jdbcType="VARCHAR" />
    <result column="loan_type_name" property="loanTypeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    trans_id, cust_id, account, trans_date, loan_amount, ins_count, loan_interest, loan_amount_sum, 
    expiration_date, recovered_amount, loan_status, reviewer_id, loan_type_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bank.pojo.BankLoanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bank_loan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bank_loan
    where trans_id = #{transId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bank_loan
    where trans_id = #{transId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bank.pojo.BankLoanExample" >
    delete from bank_loan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bank.pojo.BankLoan" >
    insert into bank_loan (trans_id, cust_id, account, 
      trans_date, loan_amount, ins_count, 
      loan_interest, loan_amount_sum, expiration_date, 
      recovered_amount, loan_status, reviewer_id, 
      loan_type_name)
    values (#{transId,jdbcType=VARCHAR}, #{custId,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{transDate,jdbcType=VARCHAR}, #{loanAmount,jdbcType=DOUBLE}, #{insCount,jdbcType=SMALLINT}, 
      #{loanInterest,jdbcType=DOUBLE}, #{loanAmountSum,jdbcType=DOUBLE}, #{expirationDate,jdbcType=VARCHAR}, 
      #{recoveredAmount,jdbcType=DOUBLE}, #{loanStatus,jdbcType=VARCHAR}, #{reviewerId,jdbcType=VARCHAR}, 
      #{loanTypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bank.pojo.BankLoan" >
    insert into bank_loan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="transId != null" >
        trans_id,
      </if>
      <if test="custId != null" >
        cust_id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="transDate != null" >
        trans_date,
      </if>
      <if test="loanAmount != null" >
        loan_amount,
      </if>
      <if test="insCount != null" >
        ins_count,
      </if>
      <if test="loanInterest != null" >
        loan_interest,
      </if>
      <if test="loanAmountSum != null" >
        loan_amount_sum,
      </if>
      <if test="expirationDate != null" >
        expiration_date,
      </if>
      <if test="recoveredAmount != null" >
        recovered_amount,
      </if>
      <if test="loanStatus != null" >
        loan_status,
      </if>
      <if test="reviewerId != null" >
        reviewer_id,
      </if>
      <if test="loanTypeName != null" >
        loan_type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="transId != null" >
        #{transId,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="transDate != null" >
        #{transDate,jdbcType=VARCHAR},
      </if>
      <if test="loanAmount != null" >
        #{loanAmount,jdbcType=DOUBLE},
      </if>
      <if test="insCount != null" >
        #{insCount,jdbcType=SMALLINT},
      </if>
      <if test="loanInterest != null" >
        #{loanInterest,jdbcType=DOUBLE},
      </if>
      <if test="loanAmountSum != null" >
        #{loanAmountSum,jdbcType=DOUBLE},
      </if>
      <if test="expirationDate != null" >
        #{expirationDate,jdbcType=VARCHAR},
      </if>
      <if test="recoveredAmount != null" >
        #{recoveredAmount,jdbcType=DOUBLE},
      </if>
      <if test="loanStatus != null" >
        #{loanStatus,jdbcType=VARCHAR},
      </if>
      <if test="reviewerId != null" >
        #{reviewerId,jdbcType=VARCHAR},
      </if>
      <if test="loanTypeName != null" >
        #{loanTypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bank.pojo.BankLoanExample" resultType="java.lang.Integer" >
    select count(*) from bank_loan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bank_loan
    <set >
      <if test="record.transId != null" >
        trans_id = #{record.transId,jdbcType=VARCHAR},
      </if>
      <if test="record.custId != null" >
        cust_id = #{record.custId,jdbcType=VARCHAR},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.transDate != null" >
        trans_date = #{record.transDate,jdbcType=VARCHAR},
      </if>
      <if test="record.loanAmount != null" >
        loan_amount = #{record.loanAmount,jdbcType=DOUBLE},
      </if>
      <if test="record.insCount != null" >
        ins_count = #{record.insCount,jdbcType=SMALLINT},
      </if>
      <if test="record.loanInterest != null" >
        loan_interest = #{record.loanInterest,jdbcType=DOUBLE},
      </if>
      <if test="record.loanAmountSum != null" >
        loan_amount_sum = #{record.loanAmountSum,jdbcType=DOUBLE},
      </if>
      <if test="record.expirationDate != null" >
        expiration_date = #{record.expirationDate,jdbcType=VARCHAR},
      </if>
      <if test="record.recoveredAmount != null" >
        recovered_amount = #{record.recoveredAmount,jdbcType=DOUBLE},
      </if>
      <if test="record.loanStatus != null" >
        loan_status = #{record.loanStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewerId != null" >
        reviewer_id = #{record.reviewerId,jdbcType=VARCHAR},
      </if>
      <if test="record.loanTypeName != null" >
        loan_type_name = #{record.loanTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bank_loan
    set trans_id = #{record.transId,jdbcType=VARCHAR},
      cust_id = #{record.custId,jdbcType=VARCHAR},
      account = #{record.account,jdbcType=VARCHAR},
      trans_date = #{record.transDate,jdbcType=VARCHAR},
      loan_amount = #{record.loanAmount,jdbcType=DOUBLE},
      ins_count = #{record.insCount,jdbcType=SMALLINT},
      loan_interest = #{record.loanInterest,jdbcType=DOUBLE},
      loan_amount_sum = #{record.loanAmountSum,jdbcType=DOUBLE},
      expiration_date = #{record.expirationDate,jdbcType=VARCHAR},
      recovered_amount = #{record.recoveredAmount,jdbcType=DOUBLE},
      loan_status = #{record.loanStatus,jdbcType=VARCHAR},
      reviewer_id = #{record.reviewerId,jdbcType=VARCHAR},
      loan_type_name = #{record.loanTypeName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bank.pojo.BankLoan" >
    update bank_loan
    <set >
      <if test="custId != null" >
        cust_id = #{custId,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="transDate != null" >
        trans_date = #{transDate,jdbcType=VARCHAR},
      </if>
      <if test="loanAmount != null" >
        loan_amount = #{loanAmount,jdbcType=DOUBLE},
      </if>
      <if test="insCount != null" >
        ins_count = #{insCount,jdbcType=SMALLINT},
      </if>
      <if test="loanInterest != null" >
        loan_interest = #{loanInterest,jdbcType=DOUBLE},
      </if>
      <if test="loanAmountSum != null" >
        loan_amount_sum = #{loanAmountSum,jdbcType=DOUBLE},
      </if>
      <if test="expirationDate != null" >
        expiration_date = #{expirationDate,jdbcType=VARCHAR},
      </if>
      <if test="recoveredAmount != null" >
        recovered_amount = #{recoveredAmount,jdbcType=DOUBLE},
      </if>
      <if test="loanStatus != null" >
        loan_status = #{loanStatus,jdbcType=VARCHAR},
      </if>
      <if test="reviewerId != null" >
        reviewer_id = #{reviewerId,jdbcType=VARCHAR},
      </if>
      <if test="loanTypeName != null" >
        loan_type_name = #{loanTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where trans_id = #{transId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bank.pojo.BankLoan" >
    update bank_loan
    set cust_id = #{custId,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      trans_date = #{transDate,jdbcType=VARCHAR},
      loan_amount = #{loanAmount,jdbcType=DOUBLE},
      ins_count = #{insCount,jdbcType=SMALLINT},
      loan_interest = #{loanInterest,jdbcType=DOUBLE},
      loan_amount_sum = #{loanAmountSum,jdbcType=DOUBLE},
      expiration_date = #{expirationDate,jdbcType=VARCHAR},
      recovered_amount = #{recoveredAmount,jdbcType=DOUBLE},
      loan_status = #{loanStatus,jdbcType=VARCHAR},
      reviewer_id = #{reviewerId,jdbcType=VARCHAR},
      loan_type_name = #{loanTypeName,jdbcType=VARCHAR}
    where trans_id = #{transId,jdbcType=VARCHAR}
  </update>
</mapper>